/*
light blue: #70ABE7
gold: #D4AF37
blue-alt: #FF8204
red: #DA1324
-------------------
med-blue: #2587FF
dark-blue: #2066B4
*/

body, html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  font-family: Lato, "Lucida Console", Monaco, monospace;
}

.landing-container {
  text-align: center;
  line-height: 100vh;
}

.logo-wrapper {
  position: absolute;
  width: 100vw; height: 100vh;
  z-index:2;
  text-align: center;
  line-height: 100vh;
}

.logo {
  opacity: 0.9;
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
  display: inline-block;
  vertical-align: middle;
}

.logo-text-wrapper {
  position: absolute;
  width: 100vw; height: 100vh;
  z-index:2;
  text-align: center;
  line-height: 100vh;
}

.logo-text {
  color: white;
  font-size: 15vw;
  opacity: 0.1;
}

.spinning-gif {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  dispay:block;
}

.nav {
  position: absolute;
  width: 100vw;
  z-index:10;
  bottom: 0;
  line-height: 200%;
  font-size: 150%;
  color: white;
}

#nav-texas, #nav-canada, #nav-california, #nav-galveston {
  cursor: pointer;
  cursor: hand;
}

#down-arrow-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index:9;
  text-align: center;
  line-height: 100vh;
  font-size: 2vw;
  color: white;
}
#down-arrow {
  opacity: 0.5;
  width: 8vw;
  display: inline-block;
  margin: 85vh 46vw 12vh 46vw;
}

#down-arrow:hover {
  cursor: pointer;
  cursor: hand;
}

/**************************************************************************************************************************************/

.content {
  width: 100%;
  height: auto;
  background-color: #eee;
}

.blue {
  color: #2587ff;
}

.gold {
  color: gold;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

#disco-texas:hover, #disco-canada:hover, #disco-california:hover, #disco-galveston:hover {
  cursor: pointer;
  cursor: hand;
}

.btn-blue, .btn-red, .btn-gold, .btn-blue-alt {
  font-family: Arial;
  color: #000;
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  white-space: nowrap;
}

.btn-blue {
  color: rgb(112,171,231);
  border: solid rgb(112,171,231) 2px;
}

.btn-red {
  color: rgb(218,19,36);
  border: solid rgb(218,19,36) 2px;
}

.btn-gold {
  color: #D4AF37;
  border: solid #D4AF37 2px;
}

.btn-blue-alt {
  color: rgb(37,135,255);
  border: solid rgb(37,135,255) 2px;
}

.btn-blue:hover, .btn-red:hover, .btn-gold:hover, .btn-blue-alt:hover {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.btn-blue:hover {
  background: #70abe7;
}

.btn-red:hover {
  background: rgb(218,19,36);
}

.btn-gold:hover {
  background: #D4AF37;
}

.btn-blue-alt:hover {
  background: rgb(37,135,255);
}

/*********************************************************************************************************************************************************
xs: below 768px
sm: 768px and up
md: 992px and up
lg: 1200px and up
*********************************************************************************************************************************************************/

@media (min-width: 992px) {
  .promo-code {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .copyright {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 992px) {
  .copyright {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .btn-blue, .btn-red, .btn-gold, .btn-blue-alt {
    display: inline-block;
    float: right;
  }
  .btn-wrapper {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .btn-blue, .btn-red, .btn-gold, .btn-blue-alt, .txt-wrapper>h2 {
    display: inline-block;
  }
  .btn-wrapper, .txt-wrapper {
    text-align: center;
  }
  #down-arrow-wrapper {
    display: none;
  }
  #city-logo {
    width:70vw !important;
  }
  .logo {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .spinning-gif {
    position: relative;
    left: -30%;
    max-height: 160%;
    max-width: 160%;
  }
  .nav {
    line-height: 175%;
  }
}
