body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Lato, "Lucida Console", Monaco, monospace;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

.text {
    position: relative;
    z-index: 3;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-size: 15vw;
    opacity: 0.0;
}

.landing-container {
  text-align: center;
  line-height: 100vh;
}

.content {
    width: 100%;
    height: auto;
    background-color: #eee;

}

.blue {
    /*color: rgb(35,45,200);*/
    color: #2587ff;
}

.gold {
    color: gold;
}

.logo {
    opacity: 0.9;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    display: inline-block;
    vertical-align: middle;
}

#down-arrow-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:9;
    text-align: center;
    line-height: 100vh;
    /*border: 1px solid red;*/
    font-size: 2vw;
    color: white;
}
#down-arrow {
    /*border: solid 1px blue;*/
    opacity: 0.5;
    width: 8vw;
    display: inline-block;
    margin: 92vh 46vw 5vh 46vw;
}

#down-arrow:hover {
  cursor: pointer;
  cursor: hand;
}

#disco-texas:hover, #disco-canada:hover, #disco-california:hover, #disco-galveston:hover {
  cursor: pointer;
  cursor: hand;
}

a {
  color: rgb(51,51,51);
}

a:hover {
    color: black;
    text-decoration: none;
}

.btn-blue, .btn-red, .btn-gold {
  font-family: Arial;
  color: #000;
  font-size: 20px;
  padding: 7px 15px;
  border: solid #000 2px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-blue:hover {
  background: #2587ff;
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.btn-red:hover {
  background: rgb(218,19,36);
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.btn-gold:hover {
  background: gold;
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}
