/*
gold: #D4AF37
blue: #2587ff
alt-blue: 112, 171, 231
orange: 255,130,4
*/

body, html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
    font-family: Lato, "Lucida Console", Monaco, monospace;
}

.gif {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    dispay:block;
}

.text {
    color: white;
    font-size: 15vw;
    opacity: 0.1;
}

.landing-container {
  text-align: center;
  line-height: 100vh;
}

.content {
    width: 100%;
    height: auto;
    background-color: #eee;

}

.blue {
    /*color: rgb(35,45,200);*/
    color: #2587ff;
}

.gold {
    color: gold;
}

.logo {
    opacity: 0.9;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    display: inline-block;
    vertical-align: middle;
}

#down-arrow-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:9;
    text-align: center;
    line-height: 100vh;
    /*border: 1px solid red;*/
    font-size: 2vw;
    color: white;
}
#down-arrow {
    /*border: solid 1px blue;*/
    opacity: 0.5;
    width: 8vw;
    display: inline-block;
    margin: 85vh 46vw 12vh 46vw;
}

#down-arrow:hover {
  cursor: pointer;
  cursor: hand;
}

#disco-texas:hover, #disco-canada:hover, #disco-california:hover, #disco-galveston:hover {
  cursor: pointer;
  cursor: hand;
}

a {
  color: rgb(51,51,51);
}

a:hover {
    color: black;
    text-decoration: none;
}

.btn-blue, .btn-red, .btn-gold, .btn-orange {
  font-family: Arial;
  color: #000;
  font-size: 20px;
  padding: 7px 15px;
  border: solid #000 2px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  white-space: nowrap;
}

.btn-blue:hover {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: #2587ff;
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.btn-red:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: rgb(218,19,36);
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.btn-gold:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: gold;
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.btn-orange:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: rgb(255,130,4);
  color:white;
  border: solid #eee 2px;
  text-decoration: none;
}

.nav {
  position: absolute;
  width: 100vw;
  z-index:10;
  bottom: 0;
  line-height: 200%;
  font-size: 150%;
  color: white;
}

/*
xs: below 768px
sm: 768px and up
md: 992px and up
lg: 1200px and up
*/

@media (min-width: 992px) {
  .promo-code {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .copyright {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 992px) {
  .copyright {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .btn-blue, .btn-red, .btn-gold, .btn-orange {
    display: inline-block;
    float: right;
  }
  .btn-wrapper {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .btn-blue, .btn-red, .btn-gold, .btn-orange, .txt-wrapper>h2 {
    display: inline-block;
  }
  .btn-wrapper, .txt-wrapper {
    text-align: center;
  }
  #down-arrow-wrapper {
    display: none;
  }
  #city-logo {
    width:70vw !important;
  }
  .logo {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .gif {
    position: relative;
    left: -30%;
    max-height: 160%;
    max-width: 160%;
  }
  .nav {
    line-height: 175%;
  }
}

a {
  color: inherit;
}

#nav-texas, #nav-canada, #nav-california, #nav-galveston {
  cursor: pointer;
  cursor: hand;
}